@using Website.Data;
@model List<PhotoDetail>

<div id="lightboxContent" class="lightbox-content">
    <a href="@Model[0].Image" data-lightbox="lightbox" data-description="@Model[0].Description">
        <img src="@Model[0].Image">
        <div>
            <h5>@Model[0].Title</h5>
        </div>
    </a>
</div>
<div class="carousel-padding">
    <div id="imageCarousel">
        @{
            bool IsFirst = true;
            foreach (PhotoDetail row in Model)
            {
                if (IsFirst)
                {
                    IsFirst = false;
                    <div class="item-image active" data-img-full="@row.Image" data-title="@row.Title" data-description="@row.Description">
                        <img src="@row.Image">
                    </div>
                }
                else
                {
                    <div class="item-image" data-img-full="@row.Image" data-title="@row.Title" data-description="@row.Description">
                        <img src="@row.Image">
                    </div>
                }
            }
}
    </div>
</div>