@using Website.Data;
@model PagedList.IPagedList<Website.Data.News>
@using PagedList.Mvc;
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}

<section class="section-news clearfix">
    <h3>Tin tức</h3>
    <hr>
    <div class="news-content">
        @{
            for (int i = 0; i < Model.Count(); i += 3)
            {
                <div class="row">
                    @if (i < Model.Count())
                    {
                        <div class="col-sm-4">
                            <a href="@Url.Action("newsdetail", "home", new { i = Model[i].NewsID })" class="item">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <img class="embed-responsive-item" src="@(Model[i].ImageThumbnail == null ? "/Uploads/News/default.jpg" : Model[i].ImageThumbnail)">
                                </div>
                                <h4>@Model[i].Title</h4>
                                <p>@Model[i].ShortDescription</p>
                            </a>
                        </div>
                    }
                    @if (i + 1 < Model.Count())
                    {
                        <div class="col-sm-4">
                            <a href="@Url.Action("newsdetail", "home", new { i = Model[i + 1].NewsID })" class="item">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <img class="embed-responsive-item" src="@(Model[i + 1].ImageThumbnail == null ? "/Uploads/News/default.jpg" : Model[i + 1].ImageThumbnail)">
                                </div>
                                <h4>@Model[i + 1].Title</h4>
                                <p>@Model[i + 1].ShortDescription</p>
                            </a>
                        </div>
                    }
                    @if (i + 2 < Model.Count())
                    {
                        <div class="col-sm-4">
                            <a href="@Url.Action("newsdetail", "home", new { i = Model[i + 2].NewsID })" class="item">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <img class="embed-responsive-item" src="@(Model[i + 2].ImageThumbnail == null ? "/Uploads/News/default.jpg" : Model[i + 2].ImageThumbnail)">
                                </div>
                                <h4>@Model[i + 2].Title</h4>
                                <p>@Model[i + 2].ShortDescription</p>
                            </a>
                        </div>
                    }

                </div>
            }
        }
    </div>
    <div class="text-center">
        @Html.PagedListPager(Model, p => Url.Action("Index", new { p }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</section>