@model Website.Data.Video
@{
    ViewBag.Title = "CreateVideo";
    Layout = "~/Views/Share/_Backend.cshtml";
}
<section class="scrollable padder">
    <div class="m-b-md">
        <h3 class="m-b-none">Create/View video</h3>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
            @using (Html.BeginForm("CreateVideo", "Admin", FormMethod.Post, new { id = "contact", @class = "contact-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tên video</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control validation", @placeholder = "Nhập tên clip" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Diễn giải</label>
                    <div class="col-sm-9">
                       @Html.TextAreaFor(m => m.Description, new { @class = "form-control validation", @placeholder = "Diễn giải" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Link Youtube</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.VideoLink, new { @class = "form-control validation", @placeholder = "Nhập link youtube" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("IsActive", Model.IsActive)<strong>Sử dụng</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button id="btnSave" class="btn btn-primary">Lưu</button>
                        <a href="/admin/video" class="btn btn-primary">Quay lại</a>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</section>

@section Styles {
    <link href="~/Contents/css/ng-grid.css" rel="stylesheet" />
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btnSave").click(function () {
                var idVideo = ($('#VideoLink').val()).split('=');
                var video = {
                    VideoID: '@ViewBag.ID',
                    Title: $('#Title').val(),
                    Description: $('#Description').val(),
                    VideoLink: idVideo[1],
                    Sort: 1,
                    IsActive: $('#IsActive').val()
                };
                $.ajax({
                    url: '/admin/SaveVideo',
                    type: 'Post',
                    data: JSON.stringify({ Video: video }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.IsOk)
                            window.location.href = "/admin/video";
                    }
                });
            });
        });
    </script>
}
