<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Contents/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Contents/css/animate.css" rel="stylesheet" />
    <link href="~/Contents/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Contents/css/app.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <section class="vbox">
        @Html.Partial("~/Views/Share/_HeaderBackend.cshtml")
        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-dark lter b-r aside-md hidden-print" id="nav">
                    @Html.Partial("~/Views/Share/_Menu.cshtml")
                </aside>
                <section id="content">
                    @RenderBody()
                </section>
                <aside class="bg-light lter b-l aside-md hide" id="notes">
                    <div class="wrapper">Notification</div>
                </aside>
            </section>
        </section>
    </section>

    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/app.plugin.js"></script>
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <script type="text/javascript">
        $('#linkLogout').click(function () {
            $.ajax({
                url: '/Admin/Logout',
                type: 'Post',
                success: function (data) {
                    if (data.IsOk) {
                        window.location.href = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
                    }
                }
            });
        });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
